body {
  background-image: url('../img/unspecified2.png');
}

.maincontent {
  font-size: 17px;
}

.navbar-header .navbar-brand img{
  height: 25px;
  padding: 0px;
  margin-top: 0px;
}

.navbar{
  margin-bottom: 0px;
}

a:link {
  color: #4d4d4d;
}

.social-media-bar {
  background:rgba(0,0,0,0.6);

  color: #ffffff;
}

.social-media-bar a:link {
  color: #ffffff;
}

.jumbotron {
  margin-bottom: 0px;
  color: white;
}

.post {
  padding: 10px;
  margin: 5px;
  background:rgba(255,255,255,0.6);
}
